.chat-main
 .chat-main__group-name
  .chat-main__group-name___left
   .chat-main__group-name___left____name
    test
   .chat-main__group-name___left____member
    Member :
    .chat-main__group-name___left____member_____names
    masa
  = link_to "#", class: "contents__btn" do
   Edit
 .chat-main__message-list
  .chat-main__message-list___data
   .chat-main__message-list___data____name
    masa
   .chat-main__message-list___data____date
    2020/02/10(Mon) 13:30:55
  .chat-main__message-list___say
   おはよう
  .chat-main__message-list___data
   .chat-main__message-list___data____name
    ff
   .chat-main__message-list___data____date
    2020/02/10(Mon) 13:50:43
  .chat-main__message-list___say
   おはようございます。
 .chat-main__massage-form
  .chat-main__massage-form___new-message
   .chat-main__massage-form___new-message____box
    .chat-main__massage-form___new-message____box_____text
     type a message
    .chat-main__massage-form___new-message____box_____image
     %label{class: "box__image"}
      = icon('fas', 'image')
      %input{type: "file",class: "box_image_file"}
   .chat-main__massage-form___new-message____send-btn  
    Send