.sidebar
  .sidebar__user
    .sidebar__user___block
      .sidebar__user___block____name
        masa
      .sidebar__user___block____icon
        .sidebar__user___block____icon____newgroup
          = link_to "#" do
            = icon('fas', 'edit')
        .sidebar__user___block____icon____set
          = link_to "#" do
            = icon('fas', 'cog')
  .sidebar__groupname
    .sidebar__groupname___box
      .sidebar__groupname___box____groups
        techcamp
      .sidebar__groupname___box____message
        まだメッセージがありません